body{
    height: 100%;
    background: #050326;
    color: white;
   
}
.careerSection{
    margin-top: 15vh;
}
.nameText {
    color: rgb(5, 205, 255);
    font-size: 3.5rem;
}

.nameText:hover{
    color: rgb(230, 9, 177);   
}
.myName {
    font-size: 1.8rem;
}
.landingSection {
    margin-top: 150px;
    text-align:start;
}
.description {
    font-size: 2.2rem;
    color: wheat;
    padding-right: 4.5rem;
}
.description:hover {
    color: rgb(230, 9, 177);   
}
.profilePic {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 200px;
    width: 450px; 
    height: 450px;
    border-radius: 70%; 
    object-fit: fill; 
    overflow: hidden; 
    background-color: #000340;
}
.profilePic:hover{
    background-color:rgb(30, 9, 100); 
}
.account-links:hover {
    cursor: pointer;
    color: rgb(5, 205, 255);
}

.experiencesHead{
    
    color: rgb(5, 205, 255) ; 
}

.experiencesHead:hover{
    color: rgb(230, 9, 177);
}
.account-links {
    text-decoration: none;
    color: rgb(230, 9, 177);    
    align-items: center; 
    margin-bottom: 10px; 
    text-decoration: none; 
    margin-right: 10px; 
}
@media only screen and (max-width: 600px) {
    .nameText {
        font-size: 40px;
    }
    body{
        padding-right: 0px; 
    }
    .careerSection{
        margin-top: 2vh;
    }
    
    .description {
        font-size: 1.3rem;
        text-align: center;
        padding-right: 0 !important;        
    }
    
    .profilePic {       
        margin-left: 1vw;
        width: 100%; 
        max-width: 350px; 
        height: auto; 
        border-radius: 50%;         
    }
    
    .landingSection {
        margin-top: 25px;
        text-align:center !important;
    }
    
    .accounts {
        text-align: center !important;
    }
    .account-links {
        display: flex;
        justify-content: flex-start;
        margin-left: 12vw;
    }
    
    .account-links i {
        font-size: 20px; 
        margin-right: 8px; 
    }
}