<div style="color:wheat">

    <p>
        Hi, I'm Emirhan Hasırcı, a dedicated third-year Computer Engineering student with a profound passion for
        software technologies since 2018. Currently pursuing my degree at Bartın University, I actively cultivate my
        skills in full-stack and indie game development during my free time.
    </p>
    <p>In my recent role as the Founder Lead of Google Developer Student Clubs (GDSC) Bartın, I established and led a
        community dedicated to Google developer technologies. This experience enhanced my collaborative and leadership
        abilities, providing a platform for knowledge exchange among aspiring professionals.</p>
    <p>Simultaneously, I am a Scholar at the Game and Application Academy, where I am immersed in the vibrant realms of
        game development and application design. This opportunity provides me with invaluable insights and hands-on
        experience in these thriving fields.</p>
    <p>My technical aptitude encompasses diverse languages like C#, Java, JavaScript, and TypeScript, while frameworks
        like .Net and Angular provide a platform for my innovative ideas.

        Eager to contribute to the tech industry's innovation, I am open to exciting opportunities aligning with my
        expertise. Let's connect and explore ways to collaborate on meaningful projects.</p>
</div>