<div style="color:wheat">

    <p>
        Hi, I'm Emirhan Hasırcı, a dedicated fourth-year Computer Engineering student with a profound passion for software technologies, which I've been cultivating since 2018. Currently, I'm pursuing my degree at Bartın University and actively honing my skills in full-stack and indie game development during my free time.
    </p>
    <p>I have experience with languages like C#, Java, JavaScript, and TypeScript, and I use frameworks like .NET and Angular to bring my ideas to life.

        Eager to contribute to the tech industry's innovation, I am open to exciting opportunities aligning with my
        expertise. Let's connect and explore ways to collaborate on meaningful projects.</p>
</div>