body{
    height: 100%;    
    color: white;
}
.rowOfProject{
    display: flex;
    justify-content: center;
    align-items: center;
}
.projectTitle{
    color: var(--secondary-blue);
}
.projectTitle:hover{
    color: wheat;
}
.projectLink:hover{
    color:wheat;
}
.projectDesc{
    color: wheat;
}
.projectLink{
    color: var(--secondary-pink);   
}
.projectImgCol{
    border-color:var(--secondary-pink) !important; 
}
.card,.card-body{
    border-color:var(--secondary-pink) !important;
    background: #050336; 
    
}
.card:hover,.card-body:hover{
    border-color:var(--secondary-blue) !important; 
}
.viewMore{
    text-decoration: underline;
    color: var(--secondary-blue) ; 
}
.projectTitleR{
    color: var(--secondary-pink);
}
.projectLinkR{
    color: var(--secondary-blue);
}
.projectTitleR:hover{
    color: wheat;
}
.projectLinkR:hover{
    color: wheat;
}

.viewMore:hover{
    color: wheat;
}
.projectsHead{
    color: var(--secondary-pink);
}

.projectsHead:hover{
    color: var(--secondary-blue) ; 
}
.projectImageL{
    border-color: var(--secondary-blue) !important; 
    border-style: groove;
    border-radius: 50px;
    
}
.projectImageR{
    border-color: var(--secondary-pink) !important; 
    border-style: groove;
    border-radius: 50px;
    
}