.mainNav{
    background-color:var(--background-purple); ;
}
.myName {
    font-size: 1.8rem;
}


.navbar-img {
    max-width: 7vw;
    max-height: 7vh;
    margin:10px 10px 0 0 ;
    border-radius: 200px;
}

.navbar-brand {
    color: var(--secondary-blue);
}
.nav-link-resume{
    color: wheat !important;
}
.nav-link-resume:hover{
    color: var(--secondary-pink) !important;
}
.nav-link {
    color: var(--secondary-blue);
}

    .nav-link:hover {
        color: var(--secondary-pink);
    }

.nameText {
    color: var(--secondary-blue);
    font-size: 75px;
}

@media only screen and (max-width: 600px) {
    .nameText {
        font-size: 40px;
    }

    .description {
        font-size: 18px;
    }

    .navbar-img {
        max-width:14vw;
        max-height: 10vh;
        margin:10px 10px 0 0 ;
        border-radius: 200px;
    }
    
    .profilePic {
        margin-bottom:20px;
        margin-top:20px;
        min-width: 380px;
        min-height: 340px;
        max-height: 500px;
        max-width: 100px;
    }


    .accounts {
        text-align: center !important;
    }

}

.account-links:hover {
    cursor: pointer;
    color: var(--secondary-pink);
}

.account-links {
    text-decoration: none;
    color: wheat;
}
