
.expHeader{
    background: #050336;
    color: var(--secondary-pink);   
    border-color:var(--secondary-pink) !important; 
    border-radius: 50px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    
}
.expHeader:hover{
  color: var(--secondary-blue);
  border-color:var(--secondary-blue) !important; 
}
.card,.card-body{
    border-color:var(--secondary-pink) !important;
    background: #050336; 
    border-radius: 50px;
    height: 55vh;    
  hyphens: auto; 
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}
.card:hover,.card-body:hover{
    border-color:var(--secondary-blue) !important; 
}

.experiencesHead{
    color: var(--secondary-pink);
}

.experiencesHead:hover{
    color: var(--secondary-blue) ; 
}
.dateOfExp{
    color: var(--secondary-blue) ;
}
.dateOfExp:hover{
    color: var(--secondary-pink);
}

.desc{
    font-size: 1rem;    
    hyphens: auto; /* Adds hyphens to break long words */
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal; /* Ensures text wraps inside the container */
}
@media only screen and (max-width: 600px) {
    .card,.card-body{
        border-color:var(--secondary-pink) !important;
        background: #050336; 
        border-radius: 50px;
        height: auto;    
    }
}
.dateOfExp {
    display: flex;
    justify-content: center;
   gap: 10px; 
  }
    
  @media (max-width: 767px) {
    .dateOfExp {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .dateOfExp .start,
    .dateOfExp .end {
      display: block;
    }
  }
  