<!DOCTYPE html>
<html lang="en">
<body>
    <div class="row mt-3">                        
        <div *ngFor="let exp of data" class="col-md-3 mb-4">
            <div class="card">
                <div class="expHeader card-header text-center">
                    {{exp.title}}
                    <br >
                    <small style="color:wheat" class="fs-5">{{exp.type}}</small>
                    
                    <div class="dateOfExp fst-italic ">
                        <span class="start fs-6">{{ exp.startDate }}</span>
                        <span class="d-none d-sm-flex fs-6">|</span>
                        <span class="end fs-6">{{ exp.endDate }}</span>
                    </div>
                </div>
                <div class="card-body h-100">
                    <p style="color:wheat" class="desc">
                        {{exp.desc}}
                    </p>
                </div>                
            </div>
        </div>        
    </div>    
</body>
</html>