.row{
    display: flex;
    justify-content: center;
    align-items: center;
    color:wheat;
    
}
p{
    font-size: 1.1rem;
}
.r-l{
    border-color:rgb(5, 205, 255)!important;
    border-radius: 40px;
}
.r-r{
    border-radius: 40px;
    border-color:rgb(230, 9, 177) !important; 
}