<div class="container pb-4">
    <h1 class="text-center mb-3" style="color:wheat">About</h1>
    <div class="row mb-5 border r-l p-md-3">

        <div class="col-md-4 order-md-1 order-1 ">
            <img src="assets/images/Profile.png" class="w-100 projectImageL" alt="Project Image"> 
        </div>
        <div class="projectDesc col-md-8 order-md-2 order-2 ps-4  d-flex flex-column justify-content-start">
         

                <p>
                    Hi, I'm Emirhan Hasırcı, a dedicated fourth-year Computer Engineering student with a profound passion for software technologies, which I've been cultivating since 2018. Currently, I'm pursuing my degree at Bartın University and actively honing my skills in full-stack and indie game development during my free time.
                </p>
                <p>In my recent role as the Founder Lead of Google Developer Student Clubs (GDSC) Bartın, I established and led a
                    community dedicated to Google developer technologies. This experience enhanced my collaborative and leadership
                    abilities, providing a platform for knowledge exchange among aspiring professionals.</p>               
          
        </div>
    </div>
    <div class="row border r-r p-md-3 ">

        <div class="col-md-4 order-md-2 order-2 ">
            <img src="assets/images/Profile.png" class="w-100 projectImageL" alt="Project Image"> 
        </div>
        <div class="projectDesc col-md-8 order-md-1 order-2 ps-4  d-flex flex-column justify-content-start">
            <p>I recently graduated from the Game and Application Academy, where I gained practical experience and valuable insights in game development and application design.</p>
            <p>I have experience with languages like C#, Java, JavaScript, and TypeScript, and I use frameworks like .NET and Angular to bring my ideas to life.
        
                Eager to contribute to the tech industry's innovation, I am open to exciting opportunities aligning with my
                expertise. Let's connect and explore ways to collaborate on meaningful projects.</p>             
        </div>
    </div>
</div>