.row{
    display: flex;
    justify-content: center;
    align-items: center;
    color:wheat;
    
}
p{
    font-size: 1.1rem;
}
.r-l{
    border-color:var(--secondary-blue)!important;
    border-radius: 40px;
}
.r-r{
    border-radius: 40px;
    border-color:var(--secondary-pink) !important; 
}