<div class="container">
    <h1 class="text-center mb-3" style="color:wheat">About</h1>
    <div class="row mb-5 border r-l p-md-3">

        <div class="col-md-4 order-md-1 order-1 ">
            <img src="assets/images/Profile.png" class="w-100 projectImageL" alt="Project Image"> 
        </div>
        <div class="projectDesc col-md-8 order-md-2 order-2 ps-4  d-flex flex-column justify-content-start">
            <p>Hi, I'm Emirhan Hasırcı, a dedicated third-year Computer Engineering student with a profound passion for software technologies since 2018. Currently pursuing my degree at Bartın University, I actively cultivate my skills in full-stack and indie game development during my free time.

                In my recent role as the Founder Lead of Google Developer Student Clubs (GDSC) Bartın, I established and led a community dedicated to Google developer technologies. This experience enhanced my collaborative and leadership abilities, providing a platform for knowledge exchange among aspiring professionals.
                
                Simultaneously, I am a Scholar at the Game and Application Academy, where I am immersed in the vibrant realms of game development and application design. This opportunity provides me with invaluable insights and hands-on experience in these thriving fields.
                
                </p>
        </div>
    </div>
    <div class="row border r-r p-md-3">

        <div class="col-md-4 order-md-2 order-2 ">
            <img src="assets/images/Profile.png" class="w-100 projectImageL" alt="Project Image"> 
        </div>
        <div class="projectDesc col-md-8 order-md-1 order-2 ps-4  d-flex flex-column justify-content-start">
            <p>Hi, I'm Emirhan Hasırcı, a dedicated third-year Computer Engineering student with a profound passion for software technologies since 2018. Currently pursuing my degree at Bartın University, I actively cultivate my skills in full-stack and indie game development during my free time.

                In my recent role as the Founder Lead of Google Developer Student Clubs (GDSC) Bartın, I established and led a community dedicated to Google developer technologies. This experience enhanced my collaborative and leadership abilities, providing a platform for knowledge exchange among aspiring professionals.
                
                Simultaneously, I am a Scholar at the Game and Application Academy, where I am immersed in the vibrant realms of game development and application design. This opportunity provides me with invaluable insights and hands-on experience in these thriving fields.
                
                </p>                
        </div>
    </div>
</div>