* {
    font-size: 1.2rem;
    font-family: monospace;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
    background: #050326;
}
body{
    background-color:#050326 !important;
}

